.clients{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq("tablet"){
    flex-wrap: wrap;
    img:nth-child(5),img:nth-child(6){
      margin-top: 40px;
    }
  }
  @include mq("mobile"){
    img:nth-child(3),img:nth-child(4),img:nth-child(5),img:nth-child(6){
      margin-top: 40px;
    }
  }
  img{
    margin: 0 32px;
  }
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  margin-top: 90px;
  padding: 40px 0;
}