.showcase{
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
  @include mq("tablet"){
    margin-top: 80px;
    flex-direction: column;
    justify-content: center;
  }
  @include mq("mobile"){
    margin-top: 60px;
  }
  &-info{
    width: 648px;
    margin-top: 96px;
    @include mq("tablet"){
      width: 100%;
      margin-top: 0;  
    }
    &-title{
      font-size: var(--font-size-xl);
      margin-bottom: 16px;
      line-height: 72px;
      @include mq("tablet"){  
        font-size: var(--font-size-lg);
        line-height: 60px;
      }
      @include mq("mobile"){  
        font-size: var(--font-size-l);
        line-height: 45px;
      }
    }
    &-text{
      font-size: var(--font-size-md);
      font-weight: 400;
      margin-bottom: 32px;
    }
    &-buttons{
      display: flex;
      align-items: center;
      .button{
        margin-right: 16px;
        box-sizing: border-box;
      }
    }
  }
  &-image{
    display: flex;
    justify-content: center;
    @include mq("tablet"){
      margin-top: 80px;
    }
    @include mq("mobile"){
      img{
        width: 100%;
      }
    }
  }
}