:root{
  --max-width: 1440px;
  --tablet-width: 768px;
  --mobile-width: 375px;
  --container-width: 1216px;
  --border-radius: 8px;
  
  //
  --primary-color: #7C3AED;
  --primary-hover-color: #8e54f3;
  --secondary-color: #FFFFFF;
  --secondary-hover-color: #EDE9FE;
  --green-bg-color: #D5FAFC;
  --blocquote-color: #1DB5BE;
  --primary-text-color: #111827;
  --secondary-text-color: #374151;
  --text-color: #D1D5DB;
  --gray-text-color: #6B7280;
  --border-color: #E5E7EB;
  --black-bg-color: #000000;
  //
  --font-family: 'Inter', sans-serif;
  --font-size-xs: 14px;
  --font-size-sm: 16px;
  --font-size-md: 18px;
  --font-size-m: 30px;
  --font-size-l: 36px;
  --font-size-lg: 48px;
  --font-size-xl: 60px;
}
